# Working off of 21.02.02

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
# read in csv
csv_path = "Resources/tips3.csv"

#Import as a data frame
tips = pd.read_csv(csv_path, encoding="utf-8")
tips.head()

   Odds Result   Bet  Profit
0   8.0   Lose  1000   -1000
1   4.5   Lose  1000   -1000
2   7.0   Lose  1000   -1000
3   5.0   Lose  1000   -1000
4   4.3    Win  1000    3330

In [16]:
# Assign X (data) and y (target)
X = tips.drop("Result", axis=1)
y = tips["Result"]
print(X.shape, y.shape)

(38248, 3) (38248,)

## Split our data into training and testing

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## Create a Logistic Regression Model

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

## Fit/train model using training data

In [22]:
classifier.fit(X_train, y_train)

LogisticRegression()

## Validate the model using the test data

In [23]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 1.0

## Make predictions

In [24]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Lose' 'Lose' 'Win' 'Lose' 'Lose' 'Lose' 'Lose' 'Lose' 'Lose' 'Lose']
First 10 Actual labels: ['Lose', 'Lose', 'Win', 'Lose', 'Lose', 'Lose', 'Lose', 'Lose', 'Lose', 'Lose']

In [30]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction Actual
0          Lose   Lose
1          Lose   Lose
2           Win    Win
3          Lose   Lose
4          Lose   Lose
...         ...    ...
9557       Lose   Lose
9558        Win    Win
9559       Lose   Lose
9560       Lose   Lose
9561        Win    Win

[9562 rows x 2 columns]