### This is a mexla of OddsAnalysisModel & 21.01.07 & 21.02.02

In [ ]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [13]:
# read in csv
csv_path = "Resources/tips3.csv"

#Import as a data frame
odds = pd.read_csv(csv_path, encoding="utf-8")
odds.head()

   Odds Result  Profit
0   8.0   Lose   -1000
1   4.5   Lose   -1000
2   7.0   Lose   -1000
3   5.0   Lose   -1000
4   4.3    Win    3330

In [4]:
#target = odds["Profit"]

In [14]:
# Assign X (data) and y (target)
X = odds[["Result", "Odds"]]
y = odds["Profit"].values.reshape(-1, 1)
print(X.shape, y.shape)

(38248, 2) (38248, 1)

In [15]:
# DUMMY ENCODING
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns=["Result"])
data_binary_encoded.head()

   Odds  Result_Lose  Result_Win
0   8.0            1           0
1   4.5            1           0
2   7.0            1           0
3   5.0            1           0
4   4.3            0           1

### Split our data into training and testing

In [17]:
from sklearn.model_selection import train_test_split

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### Create a Logistic Regression Model

In [18]:
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

C:\Users\Andrea\Anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVC(kernel='linear')

In [19]:
model

SVC(kernel='linear')

### Fit (train) or model using the training data

In [20]:
X_train

       Odds  Result_Lose  Result_Win
23517   9.0            1           0
37397   8.0            1           0
19992   4.5            1           0
34070   2.9            0           1
21373  17.0            1           0
...     ...          ...         ...
6265    5.5            1           0
11284  13.0            1           0
38158   6.0            1           0
860     7.5            1           0
15795  21.0            1           0

[28686 rows x 3 columns]

In [21]:
model.score(X_test, y_test)

0.9811754862999372

In [22]:
y_train

array([[-1000],
       [-1000],
       [-1000],
       ...,
       [-1000],
       [-1000],
       [-1000]], dtype=int64)

In [23]:
model.score(X_train, y_train)

0.9828487764066095