In [11]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [12]:
odds = pd.read_csv(os.path.join('Resources', 'Odds_Analysis.csv'))
odds.head()

   Odds   Bet  Profit
0  8.00  1000   -1000
1  4.50  1000   -1000
2  7.00  1000   -1000
3  5.00  1000   -1000
4  4.33  1000    3330

In [13]:
target = odds["Profit"]

In [14]:
# Assign X (data) and y (target)
data = odds.drop("Profit", axis=1)

data.head()

   Odds   Bet
0  8.00  1000
1  4.50  1000
2  7.00  1000
3  5.00  1000
4  4.33  1000

Split our data into training and testing

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

Create a Logistic Regression Model

In [16]:
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [17]:
model

SVC(kernel='linear')

Fit (train) or model using the training data

In [18]:
X_train

       Odds   Bet
18397   4.0  1000
3302    4.0  1000
16219  15.0  1000
29847  13.0  1000
20036   7.5  1000
...     ...   ...
29802   8.5  1000
5390    4.0  1000
860    67.0  1000
15795  11.0  1000
23654   3.0  1000

[22813 rows x 2 columns]

In [19]:
model.score(X_test, y_test)

0.8198553583168968

In [20]:
y_train

18397   -1000
3302    -1000
16219   -1000
29847   -1000
20036   -1000
         ...
29802   -1000
5390     3000
860     -1000
15795   -1000
23654   -1000
Name: Profit, Length: 22813, dtype: int64

In [22]:
model.score(X_train, y_train)

0.8131766974970411